<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.angessmith.quotes" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomQuoteTheme" >
        <activity
            android:name=".QuoteListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:parentActivityName="com.example.angessmith.quotes.QuoteAddActivity"
            android:name=".QuoteAddActivity"
            android:label="@string/activity_add" >
        </activity>
        <activity
            android:parentActivityName="com.example.angessmith.quotes.QuoteDetailActivity"
            android:name=".QuoteDetailActivity"
            android:label="@string/activity_detail" >
        </activity>

        <receiver android:name=".QuoteWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.angessmith.ACTION_VIEW_QUOTE_DETAILS"/>
                <action android:name="com.example.angessmith.ACTION_ADD_QUOTE"/>

            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider"/>
        </receiver>

        <service android:name=".QuoteListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

    </application>

</manifest>
